Company/Service References/IISChargeService/AdminServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thatindigogirl.com/samples/2006/06/Imports">
      <xsd:import schemaLocation="http://localhost/IISChargeProjectHost/AdminServices.svc?xsd=xsd0" namespace="http://www.thatindigogirl.com/samples/2006/06" />
      <xsd:import schemaLocation="http://localhost/IISChargeProjectHost/AdminServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IISChargeProjectHost/AdminServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" />
      <xsd:import schemaLocation="http://localhost/IISChargeProjectHost/AdminServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddNewAgency_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAgency" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddNewAgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddNewOperator_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewOperator" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddNewOperator_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AgenciesList_InputMessage">
    <wsdl:part name="parameters" element="tns:AgenciesList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AgenciesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgenciesListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAgencyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyInformation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAgencyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgencyInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditAgencyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAgencyInformation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditAgencyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAgencyInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_OperatorsList_InputMessage">
    <wsdl:part name="parameters" element="tns:OperatorsList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_OperatorsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperatorsListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetOperatorInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperatorInformation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetOperatorInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperatorInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditOperatorInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOperatorInformation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditOperatorInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOperatorInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCharge_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCharge" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/IsValidUser" message="tns:IAdminService_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/IsValidUserResponse" message="tns:IAdminService_IsValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAgency">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddNewAgency" message="tns:IAdminService_AddNewAgency_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddNewAgencyResponse" message="tns:IAdminService_AddNewAgency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewOperator">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddNewOperator" message="tns:IAdminService_AddNewOperator_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddNewOperatorResponse" message="tns:IAdminService_AddNewOperator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgenciesList">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AgenciesList" message="tns:IAdminService_AgenciesList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AgenciesListResponse" message="tns:IAdminService_AgenciesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgencyInformation">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/GetAgencyInformation" message="tns:IAdminService_GetAgencyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/GetAgencyInformationResponse" message="tns:IAdminService_GetAgencyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAgencyInformation">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/EditAgencyInformation" message="tns:IAdminService_EditAgencyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/EditAgencyInformationResponse" message="tns:IAdminService_EditAgencyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperatorsList">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/OperatorsList" message="tns:IAdminService_OperatorsList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/OperatorsListResponse" message="tns:IAdminService_OperatorsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperatorInformation">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/GetOperatorInformation" message="tns:IAdminService_GetOperatorInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/GetOperatorInformationResponse" message="tns:IAdminService_GetOperatorInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOperatorInformation">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/EditOperatorInformation" message="tns:IAdminService_EditOperatorInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/EditOperatorInformationResponse" message="tns:IAdminService_EditOperatorInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCharge">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddCharge" message="tns:IAdminService_AddCharge_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/06/IAdminService/AddChargeResponse" message="tns:IAdminService_AddCharge_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>