AgencyBusinessLayer/Service References/IISChargeService/AgencyServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" elementFormDefault="qualified" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IISChargeProjectHost/AgencyServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" />
  <xs:element name="AgencyValidator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" type="xs:long" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyValidatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgencyValidatorResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyLogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" type="xs:long" />
        <xs:element minOccurs="0" name="sessiontoken" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyLogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAgencyCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAgencyCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAgencyCreditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" type="xs:long" />
        <xs:element minOccurs="0" name="oldpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgencyChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgencyChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountOfcharge" type="xs:int" />
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="RequestChargeResult" nillable="true" type="q1:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDailyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestDailyReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="RequestDailyReportResult" nillable="true" type="q2:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMonthlyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMonthlyReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="RequestMonthlyReportResult" nillable="true" type="q3:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfAgencySoldCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfAgencySoldChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="NumberOfAgencySoldChargeResult" nillable="true" type="q4:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayBase_AgencySoldDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayBase_AgencySoldDailyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="DayBase_AgencySoldDailyResult" nillable="true" type="q5:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeBase_AgencySoldDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AgencyID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeBase_AgencySoldDailyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChargeServiceContracts" minOccurs="0" name="TimeBase_AgencySoldDailyResult" nillable="true" type="q6:ChargeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>