AgencyBusinessLayer/Service References/IISChargeService/AgencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.thatindigogirl.com/samples/2006/06" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.thatindigogirl.com/samples/2006/06" location="http://localhost/IISChargeProjectHost/AgencyServices.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IAgencyService" type="i0:IAgencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgencyValidator">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/AgencyValidator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyLogOut">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/AgencyLogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAgencyCredit">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/CheckAgencyCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyChangePassword">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/AgencyChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCharge">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/RequestCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDailyReport">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/RequestDailyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMonthlyReport">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/RequestMonthlyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberOfAgencySoldCharge">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/NumberOfAgencySoldCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayBase_AgencySoldDaily">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/DayBase_AgencySoldDaily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeBase_AgencySoldDaily">
      <soap:operation soapAction="http://www.thatindigogirl.com/samples/2006/06/IAgencyService/TimeBase_AgencySoldDaily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyService">
    <wsdl:port name="BasicHttpBinding_IAgencyService" binding="tns:BasicHttpBinding_IAgencyService">
      <soap:address location="http://localhost/IISChargeProjectHost/AgencyServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>